.page{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.page__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    min-height: 200px;
    margin: auto;
    text-align: center;
}
.title{
    font-size: 28px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}